body{
  background-color: #000123;
  overflow-x: hidden;





}

.container {

color: white;
  width:auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;

}
.image{
width: 105%;
position: absolute;

height: 100%;

}


.centered {
  color: #BB0876;
  font-size: 100px;
  position: absolute;
  top: 25%;
  left: 70%;
  transform: translate(-40%, -40%);
  margin: 0px;
  padding: 0px;
  font-family: Monaco;
  font-weight: bold;
  font-style: italic;
padding-right: 10%;


}

.page2 {

  color: #BB0876;

  text-align: center;
  padding-top: 550px;
  padding-right: 110px;
  padding-left: 50px;
  padding-bottom: 150px;
}
.colour{
  color: white;
}

.image1{

  height: 500px;

}

.image2{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
}

.text{
  padding: 100px;

  text-align: center;
}
.size{
  font-size: 50px;
  color: #BB0876;

}

.center{
  font-size: 25px;
  color: white;
  padding-bottom: 50px;

}

.btn {
  background: #BB0876;
  background-image: -webkit-linear-gradient(top, #BB0876, #BB0876);
  background-image: -moz-linear-gradient(top, #BB0876, #BB0876);
  background-image: -ms-linear-gradient(top, #BB0876, #BB0876);
  background-image: -o-linear-gradient(top, #BB0876, #BB0876);
  background-image: linear-gradient(to bottom, #BB0876, #BB0876);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #000123;
  background-image: -webkit-linear-gradient(top, #000123, #000123);
  background-image: -moz-linear-gradient(top, #000123, #000123);
  background-image: -ms-linear-gradient(top, #000123, #000123);
  background-image: -o-linear-gradient(top, #000123, #000123);
  background-image: linear-gradient(to bottom, #000123, #000123);
  text-decoration: none;
}
.row {
  position: relative;
}
.persnol{
  color: white;
  font-size: 2000%;
  position: absolute;


  transform: translate(150%, 180%);
  margin: 0px;
  padding-top: 0px;
   font-family: fantasy;
  font-weight: bold;
  font-style: normal;
padding-right: 10%;


}


.maintener{
  color: white;
    width:auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;


}
.vishal{
  color: #ECF2FF;
  padding-top: 250px;
  padding-right :70px;
  padding-left: 50px;
  font-family: cursive;

}
.govind{
  color: #ECF2FF;
  padding-top: 250px;
  padding-right :70px;
  padding-left: 50px;
  font-family: cursive;
}
